.card {
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  border-radius: 1em;
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
}

.card.clickable {
  cursor: pointer;
}

.card.small {
  width: 20em;
  height: 30em;
  font-size: 0.75rem;
  filter: drop-shadow(1em 1em 0 rgb(81, 173, 235));
}

.card.large {
  width: 25em;
  height: 37.5em;
  font-size: 1rem;
  filter: drop-shadow(1em 1em 0 rgb(27, 67, 94));
}

.card-header,
.card-footer {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 0.5em;
  z-index: 2;
  color: black;
  text-shadow: 0.1em 0.1em 0.2em white;
}

.card-header {
  top: 3%;
  font-weight: 900;
  font-size: 1.6em;
}

.card-footer {
  display: flex;
  flex-direction: column; /* 👈 force vertical stacking */
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 0.5em;
  z-index: 2;
  color: black;
  text-shadow: 0.1em 0.1em 0.2em white;
  font-weight: 700;
  font-size: 1.2em;
}


.card.small .card-footer {
  bottom: 8%;
}

.card.large .card-footer {
  bottom: 8%;
  font-size: 1.4em;
}

/* Move footer up for opponent cards */
.card.opponent .card-footer {
  bottom: 12.3%;
}

.advantage-bonus {
  color: #0fb100;
  font-weight: bold;
}
