/* index.css */

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.page {
  min-height: 100vh;
  padding: 0;
  font-family: sans-serif;
}

/* >>> BACKGROUND SETTINGS <<< */
.bg-bottom-left,
.bg-bottom-right {
  position: fixed;
  bottom: 0;
  width: 60%;
  height: 60%;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.5;
  pointer-events: none;
  z-index: 0;
}
.bg-bottom-left {
  left: 0;
  background-image: url('/assets/backgrounds/trees_left.webp');
  background-position: bottom left;
}
.bg-bottom-right {
  right: 0;
  background-image: url('/assets/backgrounds/trees_right.webp');
  background-position: bottom right;
}
